<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Choose Your Own Story </title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1> {{.Title}} </h1> 
    {{range .Paragraph}}
  <p>{{.}}</p>
    {{end}}
   
    <br>
    <br>
    <br>
    <ul>

      <p>Options</p>
      {{range .Options}}
      <li>
        <a href="/{{.Chapter}}">
       
        {{.Text}}
        </a>
        
      </li>
      {{end}}
    </ul>
  </body>
</html>
